<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="con" class="org.example.ConsolePrinter"/>
    <bean id="log" class="org.example.SLF4JPrinter"/>

    <bean id="app" class="org.example.App" autowire="byName"/>

    <bean id="app2" class="org.example.App">
        <constructor-arg ref="log"/>
    </bean>

</beans>
